* {margin: 0; padding: 0}
ul,ol {list-style: none;}
@font-face {
    font-family: 'BYekan';
	src: url('../fonts/BYekan.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
	src: url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

body, p
{
  font-family: 'Byekan';
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
}

.page {
	width: 95%;
	margin: 0 auto;	
}

/*																						 *********************************************  intro  ***************************************** **/

.introwrap {
	width: 80%;
	margin:5em auto;
	height: 500px; 
	display:block; 
	position:relative; 
}
						
.intrologo {
	display:block; 
	position:relative;
	margin:auto;
	width:700px;
}

.intrologo img {
	margin: auto;
	display: block;
	position: relative;
	width:700px;
	opacity:0;
	-moz-transition: opacity 2s; /* Firefox 4 */
	-webkit-transition: opacity 2s; /* Safari and Chrome */
	-o-transition: opacity 2s;
	transition: opacity 2s;
}
						
.langbox {
	position:relative;
	display:block;
	width:240px;
	margin: 3em auto;
}
.langbox ul li {
	width:63px;
	float:right;
	position: relative;
	display: inline;
	
}

.langbox ul li a {
	display:block;
	text-align:center;
	color: #6D6E71;
	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition: color 0.7s ease-in-out 0s, background-color 0.7ms ease-in-out 0s;
}
.langbox ul li a:hover { 
	transition-duration: 100ms;
	color: #bc0400;
}




/*																						 *********************************************  intro ***************************************** **/


/*																						 *********************************************  Header  Farsi - BEGIN ***************************************** **/
																				
																				
.mainnav {
	font-size:1.3em;
	width:100%;
	margin:0.6em auto 0;
}

.ribbon {
	z-index:9999;
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -50px;
  top: 19px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-family: 'BYekan';

}

a:link , a:visited {
	text-decoration : none ;

}

.mainnav ul {
	height: 3.5em;
}

.mainnav ul li {

	display:inline;
	position:relative;
	float: right;
}

.mainnav ul li a {
	display:block;
	text-align:center;
	color: black;
	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition: color 0.7s ease-in-out 0s, background-color 0.7ms ease-in-out 0s;
}
.mainnav ul li a:hover { 
	transition-duration: 100ms;
	color: #bc0400;
}

.langseperator {
	position:absolute;
	right:0;
	height:0.8em;
	border-right:2px solid #6D6E71;
	background-color: red;
	top:0.7em;


}

.seperator {
	position:absolute;
	right:0;
	height:0.5em;
	border-right:2px solid red;
	background-color: red;
	top:0.7em;
}

.seperatorlast {
	position: absolute;
	height:0.5em;
	border-right:2px solid red;
	background-color: red;
	margin-right: 1.25em;
	top:0.7em;
	left: 0;
}

/*  																									*********************************************  Header  Farsi - END *****************************************  */

/*  																									*********************************************  Mobile Header  Farsi - BEGIN *****************************************  */
.menu-btn {
	display:none;
}

.topnavbox {
	display:none;
}

.toplogo {
	display:none;
}

.mobsocial {
	display:none;
}

/*  																									*********************************************  Mobile Header  Farsi - END *****************************************  */

/*																										 ******************************************  FLEX SLIDER - BEGIN ****************************************** */

.slidertextbox {
	direction:rtl;
    float:right;
	width:40%;
	font-size:0.9em;
	line-height: 1.2em;
	position: absolute;
	text-align:justify;
	bottom:0;
	right:0;
	
}
.slidertextbox p {
	font-family: 'Byekan','LatoRegular';

}

.slides li{
	position: relative;

}



/* 																						****************************************************** Product Page - BEGIN ****************************************** */

.box {
	width:50.1%;
	float:left;
}

.god {
	margin-top:1.5em;
	width:100%;
}


.sidemenu {
	font-family: 'LatoRegular';
	font-size: 1.3em;
	font-weight: bold;
    direction: rtl;
    display: block;
    float: right;
    margin-top: 7em;
    position: absolute;
    right: 2.5%;
}


.sidemenu li {
	margin-bottom: 0.4em;

}

.sidetextbox {
    margin-bottom: 9em;
    margin-top: 15em;
    position: absolute;
    right: 2.5%;
    width: 39%;
}

.sidetext {
	font-size: 0.8em;
	direction:rtl;
	text-align:justify;
	line-height: 1.5em;

}

aside p {
	font-size: 0.8em;
	direction: rtl;
	width: 45%;


}
.productbox {
	display:block;
	position:relative;
	height:260px;
	margin-bottom: 1em;
}

.productthumb {
    margin: 2% 0 4% 15%;
}

.productbox h1 {
    direction: ltr;
    font-family: "LatoRegular";
    font-size: 0.7em;
    margin-bottom: 1.3em;
    margin-top: -0.5em;
    text-align: center;
	font-weight: normal;

}
.productbox h2 {
	display:block;
	font-size:0.7em;
	direction:rtl;
	text-align:center;
	color: #5C5C5C;
}

.plus{
	vertical-align: middle;
    width: 25px;

}

.other {
    float: right;
    margin-top: 28em;
    width: 20%;
}

.other img {
	width:65%;
	display:block;
	position: relative;
	float: right;
}


.other ul li {
	float: right;
	width:33.333%;
}

.other h1 {
	font-size: 1em;
	font-weight: normal;
	text-align: right;
	margin-bottom: 1.3em;


}




/*																								 ****************************************************** Product Page - END ****************************************** */

/*																								 ****************************************************** Footer Farsi - BEGIN ****************************************** */

.footer-info ul li a:hover { 
	transition-duration: 100ms;
	color: #bc0400;
}

.footer-info ul li a {
	font-size: 0.8em;
	display:block;
	text-align:center;
	color: black;
	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition: color 0.7s ease-in-out 0s, background-color 0.7ms ease-in-out 0s;
}

footer {
    margin-top: 1.5em;
}


.redline {
	width:40.5%;
	height:1px;
	background-color:red;
	float:right;
	
}
.logo {
	border-top: 1px solid red;
    float: right;
    position: relative;
    width: 40.5%;
	clear:both;
}
.logo img {
	float: right;
    margin: 1.2em 2.4em 0 0;
    width: 40%;
}


.footer-info ul li{
	display :inline;
	float: right;
	position: relative;
}

.footer-info ul li a{
	text-align:center;
	display:block;
}

.footer-info ul li a img {
    display: block;
    margin-left: 0.8em;
    position: relative;
}

.footer-info {
    float: left;
    margin-left: -1em;
    margin-top: 4.5em;
    position: relative;
    width: 26%;
}

.tw {
    bottom: 1.4em;
	left: 1.6em;
	width: 24px;
}

.fb {
    right: 1.2em;
    top: 0.1655em;
    width: 24px;
}

/* 																						****************************************************** Footer Farsi - END ****************************************** */




/* 																						****************************************************** Modal - BEGIN ****************************************** */
  .close {
  font-size: 16px;
  font-family: 'tahoma';
  position: absolute;
  z-index: 1000;
  font-weight: bold;
  padding: 0 0 25px 25px;
  right: 2px;
  opacity: 0.4;
  color: #e30713;
  top: -1px;
}

.close:hover {
	opacity: 1;
}

.modal {
	position: relative;
	display:block;
	width:700px;
	height:462px;
	background-color:white;
	margin:5em auto;

}

.modal h2 {
	display:block;
	position:absolute;
	bottom:5%;
	left:4%;
	font-size:1em;
	direction:rtl;
	text-align:center;
	color: #000;
	font-weight: normal;
}

.modal-content {
	position: relative;
 	float: right;
  	width: 296px;
	padding: 260px 52px 0;
}

.modal-content h1 {
	font-size: 1.3em;
	margin-bottom:10px;
	font-weight: normal;
	text-align: right;
}

.modal-content p {
	font-size: 0.73em;
	text-align: justify;
	line-height: 1.7em;
	direction: rtl;
	color:rgb(50, 50, 50);
}


.modal-content div {
	margin-bottom: 3%;
	width:95%;
	font-size: 0.8em;
}


.colorbox {
	display: inline-block;
	margin-right:8px ;
}

.colorbox li {
	float:right;
	margin-left: 5px;
}

.colorbox li div {
	display: block;
	width:16px;
	height:16px;
	margin-bottom: -4px;
}

.label {
	font-weight: bold;


}
.price {
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 5px;	
}


/*																						 ****************************************************** Modal - END ****************************************** */